# Python
venv/
__pycache__/
*.pyc

# macOS
.DS_Store

# Node
frontend/node_modules/
frontend/dist/

# Environment files
.env

# VS Code
.vscode/

# Python cache
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Dataset
dataset/

# Test Images (optional)
test_images/